<form class="p-1" (submit)="changePassoword($event)">
  <div class="h6">{{ language.message().digit_current_password }}</div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <app-form-input icon="bx-key" type="password" [id]="attribute.password_old"
        [falied]="!formValied.isValid(attribute.password_old)"
        [placeholder]="language.message().register_digit_password" [label]="language.message().register_password"
        (onChangeValue)="this.form.patchValue({ passwordOld: $event })" />
    </div>
    <div class="col-md-6">
      <app-form-input icon="bx-shield" type="password" [id]="attribute.password_confirm_old"
        [falied]="!formValied.isValid(attribute.password_confirm_old)"
        [placeholder]="language.message().register_digit_password_confirm"
        [label]="language.message().register_password_confirm"
        (onChangeValue)="this.form.patchValue({ passwordConfirmOld: $event })" />
    </div>
  </div>
  <div class="h6 mt-3">{{ language.message().digit_new_password }}</div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <app-form-input icon="bx-key" type="password" [id]="attribute.password_new"
        [falied]="!formValied.isValid(attribute.password_new)"
        [placeholder]="language.message().register_digit_password" [label]="language.message().register_password"
        (onChangeValue)="this.form.patchValue({ passwordNew: $event })" />
    </div>
    <div class="col-md-6">
      <app-form-input icon="bx-shield" type="password" [id]="attribute.password_confirm_new"
        [falied]="!formValied.isValid(attribute.password_confirm_new)"
        [placeholder]="language.message().register_digit_password_confirm"
        [label]="language.message().register_password_confirm"
        (onChangeValue)="this.form.patchValue({ passwordConfirmNew: $event })" />
    </div>
  </div>
  <button class="btn btn-outline-success mt-3 mb-1" type="submit">
    <i class="bx bx-log-in"></i>
    <span>Guardar</span>
  </button>
</form>
