<div class="wrapper d-flex align-items-stretch">

  <div class="offcanvas offcanvas-start bg-primary text-white" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">{{ constante.site_name }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ng-content [select]="'#'+contentId.dashboard_button_back" />

      <div class="">
        <div class="m-auto mb-2">
          <app-selector-language />
        </div>

        <ul class="list-unstyled components mb-5 mt-5">
          <li class="active">
            <a (click)="navigator.fromEvent(link.public,$event)">
              <i class="bx bx-home mr-3"></i>
              <span>{{ language.message().dashboard_home_page }}</span>
            </a>
          </li>
          <li class="mt-4" *ngIf="!guardaService.confirmedPerson()">
            <a (click)="navigator.fromEvent(link.public_login,$event)">
              <i class='bx bx-log-in'></i>
              <span>{{ language.message().login }}</span>
            </a>
          </li>
          <li class="mt-4" *ngIf="!guardaService.confirmedPerson()">
            <a (click)="navigator.fromEvent(link.public_register,$event)">
              <i class='bx bx-file'></i>
              <span>{{ language.message().register }}</span>
            </a>
          </li>
          <li class="mt-4">
            <a class="text-white" href="#" (click)="toogleDropDown('pageSubmenu'); $event.preventDefault()" data-toggle="collapse"
              aria-expanded="false" class="dropdown-toggle">
              <i class='bx bx-food-menu mr-3'></i>
              <span>{{ language.message().dashboard_topic }}</span>
            </a>
            <ul class="collapse list-unstyled list-sub" id="pageSubmenu">
              <li class="mt-2">
                <a (click)="navigator.mathFromEvent(link.math_arithmetic, $event)">
                  <i class='bx bx-check mr-3'></i>
                  <span>{{ language.message().dashboard_arithmetic }}</span>
                </a>
              </li>
              <li class="mt-2">
                <a (click)="navigator.mathFromEvent(link.math_equation, $event)">
                  <i class='bx bx-check mr-3'></i>
                  <span>{{ language.message().dashboard_equation }}</span>
                </a>
              </li>
              <li class="mt-2">
                <a (click)="navigator.mathFromEvent(link.math_radical, $event)">
                  <i class='bx bx-check mr-3'></i>
                  <span>{{ language.message().dashboard_radical }}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="mt-4" *ngIf="guardaService.confirmedPerson()">
            <a href="#" (click)="toogleDropDown('studyGroupMenu'); $event.preventDefault()" data-toggle="collapse"
              aria-expanded="false" class="dropdown-toggle">
              <i class='bx bx-book mr-3'></i>
              <span>{{ language.message().dashboard_study_group }}</span>
            </a>
            <ul class="collapse list-unstyled list-sub" id="studyGroupMenu">
              <li class="mt-2">
                <a (click)="navigator.studyGroupFromEvent(link.study_group_maneger,$event)">
                  <i class='bx bx-check mr-3'></i>
                  <span>{{ language.message().dashboard_administrator }}</span>
                </a>
              </li>
              <li class="mt-2">
                <a (click)="navigator.studyGroupFromEvent(link.study_group_participation,$event)">
                  <i class='bx bx-check mr-3'></i>
                  <span>{{ language.message().dashboard_participant }}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="mt-4" *ngIf="guardaService.confirmedPerson()">
            <a (click)="navigator.fromEvent(link.convits,$event)">
              <i class="bx bx-envelope mr-3"></i>
              <span>{{ language.message().dashboard_convit }}</span>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>

  <button class="btn btn-primary" type="button" id="menuNav" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
    aria-controls="staticBackdrop">
    <i class='bx bx-s bx-menu text-white'></i>
  </button>

  <div *ngIf="guardaService.confirmedPerson()" class="" id="float-right-panel">
    <ul class="list-style-none">
      <li class="nav-item dropdown p-0 m-0">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="person.image" alt="photo-perfil" class="photo-perfil" *ngIf="person.image != null">
          <img [src]="image.profile_avatar" alt="photo-perfil not" class="photo-perfil" *ngIf="person.image == null"/>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">
              <span>Nome: </span>
              <span>{{ person.name }}</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span>Email: </span>
              <span>{{ person.email }}</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="position-relative p-1">
            <button type="button" class="btn btn-outline-danger m-auto w-100"
              (click)="guardaService.logaut(); navigator.loginRedirect();">
              <i class='bx bx-log-out'></i>
              <span>{{ language.message().logaut }}</span>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>

<div id="content" class="p-4 p-md-5 pt-5">
  <div class="container">
    <ng-content [select]="'#'+contentId.dashboard_content" />
  </div>
</div>
