<app-dashboard>
  <div [id]="contentId.dashboard_content">
    <section class="row rounded p-3">
      <div class="col-md-2 text-center" *ngIf="guardService.confirmedPerson()">
        <i class="bx bx-user bx-lg bg-white rounded-pill border p-3 w-max-content photo-image"></i>
      </div>
      <div class="col-md-10 p-2">
        <div class="h6" *ngIf="guardService.confirmedPerson()">
          <span>Nome:</span>
          <span class="ml-3">{{ responseTokenUser.person.name }}</span>
        </div>
        <div class="boder-top border-white">
          <ul class="nav nav-tabs" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Apresentação</button>
            </li>
            <li class="nav-item" role="presentation" *ngIf="guardService.confirmedPerson()">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Dados pessoais</button>
            </li>
            <li class="nav-item" role="presentation" *ngIf="guardService.confirmedPerson()">
              <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
                type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Palavra passe</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="tab-content mt-2" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <article>
          <section class="bg-white p-2 m-2 border rounded">
            <div class="t-j">
              <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
              <span>
                <strong>Etimologia:</strong> surgiu dos termos gregos, μάθημα, transliterado máthēma, ciência,
                conhecimento ou aprendizagem e μαθηματικός, transliterado mathēmatikós, inclinado a aprender.
              </span>
            </div>
            <div class="t-j mt-2">
              <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
              <span>
                <strong>Lógica:</strong> é a ciência do raciocínio lógico e abstrato, que estuda quantidades (teoria dos
                números), espaço e medidas (geometria), estruturas, variações e estatística.
              </span>
            </div>
          </section>
        </article>
        <hr />
        <article>
          <section class="bg-white p-2 m-2 border rounded">
            <div>
              <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
              <span>
                <strong class="subtopico">O eimath </strong>
                é um sistema desenvolvido para resolver especificamente problemas de matemática.
              </span>
            </div>
            <div>
              <span class="subtopico">O que o eimath tem para oferecer:</span>
              <ul type="none">
                <li>
                  <i class='bx bx-checkbox-square'></i>
                  <span>Resolução de problemas de matemática, com permutações entre os métedos (ou maneira) de
                    resolução.</span>
                </li>
                <li class="mt-1">
                  <i class='bx bx-checkbox-square'></i>
                  <span>Interface do eimath é relativamente amigavel e simples de utilização.</span>
                </li>
                <li class="mt-1">
                  <i class='bx bx-checkbox-square'></i>
                  <span>Serviços e bibliotecas para utilização nos seus projectos de forma gratuita e
                    pago.</span>
                </li>
              </ul>
            </div>
          </section>
        </article>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
        *ngIf="guardService.confirmedPerson()">
        <div class="p-3 bg-white rounded border">
          <app-form-user [person]="responseTokenUser.person" [visiblePassword]="false" [disabledInputs]="disabledInputs"
            [formIsAuth]="true" (onSubmit)="updateInformation($event)" />
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#fotoPerfilModel">
            <i class='bx bx-photo-album'></i>
            <span>Foto de perfil</span>
          </button>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
        *ngIf="guardService.confirmedPerson()">
        <div class="p-3 bg-white rounded border">
          <app-form-password />
        </div>
      </div>
    </section>
  </div>

  <div class="modal fade" id="fotoPerfilModel" tabindex="-1" aria-labelledby="fotoPerfilModelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" (ngSubmit)="updatePhoto($event)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="fotoPerfilModelLabel">{{ language.message().alter_photo_perfil }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="">
            <label class="form-label" for="photo">{{ language.message().choose_photo }}</label>
            <input type="file" class="form-control border" name="file" id="photo">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            <i class='bx bx-trash'></i>
            <span>{{ language.message().cancel }}</span>
          </button>
          <button type="submit" class="btn btn-primary">
            <i class='bx bx-save'></i>
            <span>{{ language.message().confirm }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>

</app-dashboard>
