<div class="table-responsive mt-3" *ngIf="studyGroupPage.content.length > 0 else empty;">
  <table class="table table-borderless table-hover border rounded" [ngClass]="{
    'text-center': type == constant.group_maneger
  }">
    <thead class="table-primary">
      <tr>
        <th>{{ language.message().register_name }}</th>
        <th>{{ language.message().table_study_chat }}</th>
        <th colspan="2" *ngIf="btnMembro && type == constant.group_maneger">{{ language.message().table_study_menbers }}</th>
        <th *ngIf="btnMembro && type == constant.group_participation">{{ language.message().table_study_menbers }}</th>

        <th colspan="2" *ngIf="btnAction && type == constant.group_maneger">{{ language.message().table_study_actions }}</th>
        <th *ngIf="btnAction && type == constant.group_participation">{{ language.message().table_study_actions }}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of studyGroupPage.content">
        <td>{{ item.name }}</td>
        <td>
          <button class="btn btn-outline-success btn-sm d-flex gap-1"
          (click)="navigator.studyGroupFrom($event, link.study_group_chat, item.id, type)">
            <i class="bx bx-chat"></i>
            <span>{{ language.message().table_study_enter }}</span>
          </button>
        </td>
        <td *ngIf="btnMembro && type == constant.group_maneger">
          <button class="btn btn-outline-secondary btn-sm d-flex gap-1" (click)="onClickedConvitGroupEmitter(item)">
            <i class="bx bx-send"></i>
            <span>{{ language.message().table_study_btn_convit }}</span>
          </button>
        </td>
        <td *ngIf="btnMembro">
          <button class="btn btn-outline-info btn-sm d-flex gap-1"
            (click)="navigator.studyGroupFrom($event, link.study_group_members, item.id, type)">
            <i class="bx bx-menu"></i>
            <span>{{ language.message().table_study_btn_list }}</span>
          </button>
        </td>

        <td *ngIf="btnAction && type == constant.group_maneger">
          <button class="btn btn-outline-warning btn-sm d-flex gap-1" (click)="onClickedEditGroupEmitter(item)"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bx bx-edit"></i>
            <span>{{ language.message().table_study_btn_edit }}</span>
          </button>
        </td>
        <td *ngIf="btnAction && type == constant.group_maneger" (click)="onClickedDeleteGroupEmitter(item)">
          <button class="btn btn-outline-danger btn-sm d-flex gap-1">
            <i class="bx bx-trash"></i>
            <span>{{ language.message().table_study_btn_delete }}</span>
          </button>
        </td>

        <td *ngIf="btnAction && type == constant.group_participation" (click)="onClickedDeleteMemberEmitter(item)">
          <button class="btn btn-outline-danger btn-sm d-flex gap-1">
            <i class="bx bx-trash"></i>
            <span>{{ language.message().table_study_deny }}</span>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <app-result-not-found />
</ng-template>

<nav aria-label="Pagination example" class="" *ngIf="studyGroupPage.totalPages > 0">
  <ul class="pagination text-white">
    <li class="page-item" *ngIf="!studyGroupPage.first">
      <a class="page-link" (click)="onClickedPageEmitter(studyGroupPage.pageable.pageNumber-1)" aria-label="Next">
        <span aria-hidden="true">
          <i class="bx bx-left-arrow"></i>
        </span>
      </a>
    </li>
    <li class="page-item" *ngFor="let pageNum of [].constructor(studyGroupPage.totalPages); index as i">
      <a class="page-link active" *ngIf="studyGroupPage.pageable.pageNumber == i; else innerPage"
        (click)="onClickedPageEmitter(i)">{{ i + 1 }}</a>
      <ng-template #innerPage>
        <a class="page-link" (click)="onClickedPageEmitter(i)">{{ i + 1 }}</a>
      </ng-template>
    </li>
    <li class="page-item" *ngIf="!studyGroupPage.last">
      <a class="page-link" (click)="onClickedPageEmitter(studyGroupPage.pageable.pageNumber+1)" aria-label="Next">
        <span aria-hidden="true">
          <i class="bx bx-right-arrow"></i>
        </span>
      </a>
    </li>
  </ul>
</nav>
