.panel-message{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  border: 1px dashed #ccc;
  margin: 1rem;
  padding: 1rem;
  background: white;
  border-radius: 0.2rem;
}

#math_template_breadcrumb{
  display: block;
}

#math_template_info_role{
  display: block;
}

#math_template_info_exemple{
  display: block;
}
